@page "/test/{LobbyCode}"

@inject NavigationManager Nav
@inject ConnectionService ConnectionService



<p>Id: @myId</p>

@code {

	[Parameter]
	public string? LobbyCode { get; set; }


	string myId = "";

	protected override async Task OnInitializedAsync() {
		

		ConnectionService.HubConnection.On<string>("JoinedAsyncTest", (id) => {
			myId = id;
			StateHasChanged();
		});
		await ConnectionService.StartAsync();

		await ConnectionService.HubConnection.SendAsync("JoinGameAsync", LobbyCode);
	}
}
