@page "/lobby/{LobbyCode?}"

@inject NavigationManager Nav

<div class="container py-4">

	<h2 class="text-center mb-4">Lobby</h2>

	<div class="mb-3">
		<label>Invitation link: @LobbyLink</label>
		<input class="form-control d-inline" size="@LobbyLink.Length" value="@LobbyLink" readonly />
		@*<button class="btn btn-outline-secondary mt-2" @onclick="CopyLink">Copy</button>*@
	</div>

	<div class="mb-4">
		<h4>Players: @Players.Count / 20</h4>
		@foreach (var player in Players) {
			<div class="d-flex align-items-center mb-2">
				<input class="form-control me-2" style="width:200px" @bind="player.Name" />
				@if (IsHost) {
					<button class="btn btn-sm btn-danger" @onclick="() => RemovePlayer(player)">X</button>
				}
			</div>
		}
		@if (IsHost && Players.Count < 20) {
			<button class="btn btn-sm btn-success" @onclick="AddAIPlayer">Add AI</button>
		}
	</div>

	<div class="text-center">
		<button class="btn btn-primary btn-lg" @onclick="StartGame">Start</button>
	</div>

</div>

@code {

	[Parameter]
	public string? LobbyCode { get; set; }
	bool IsOffline => string.IsNullOrEmpty(LobbyCode) || LobbyCode == "offline";



	private string LobbyLink => Nav.BaseUri + "lobby/" + LobbyCode;


	protected override void OnParametersSet() => LobbyCode = LobbyCode ?? "fantastic";


	private List<Player> Players = new();


	bool IsHost = true; // логика определить кто хост

	protected override void OnInitialized() {
		// Если нет соединения с сервером — добавить 1 ИИ

	}

	void AddAIPlayer() {

	}

	void StartGame() {
		// логика начала игры
	}


	void RemovePlayer(Player p) {
		
	}


	void CopyLink() {
		// JSInterop для копирования в буфер
	}

	bool ServerAvailable() => false; // проверка соединения с сервером


	class Player {
		public string Name { get; set; }
		public bool IsAI { get; set; } = false;
	}


}


